body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

.controls {
    background-color: var(--header-bg);
    color: var(--text-light);
    padding: 15px 30px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.controls h1 {
    margin: 0;
    font-size: 1.5rem;
}


.button-group button {
    padding: 10px 20px;
    margin-left: 15px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-light);
    background-color: var(--btn-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button-group button:hover:not(:disabled) {
    background-color: var(--btn-primary-hover);
}

.button-group button:disabled {
    background-color: var(--btn-disabled);
    cursor: not-allowed;
}


.visualizer-container {
    flex-grow: 1; 
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* for fe2 */
#visualizerBoard {
    width: 100%;
    height: 100%;
    /* settings */
}