#bar-container {
    display: flex;
    align-items: flex-end;

    gap: 8px;
    height: 300px;
    border: 2px solid black;
    padding: 10px;
}

.bar{
    background-color: steelblue;
    transition: 
        background-color 0.3s,
        height 0.3s;
}

.bar.comparing {
    background-color:orange;
}

.bar.sorted {
    background-color: rgb(93, 213, 93);
}